<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F.O.R.C.E Health Center</title>
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script>
</head>
<body>

  <div class="container">
    <h1 class="text-center">F.O.R.C.E Health Center</h1>

    <div id="app">
      <div v-if="!showServiceUserAdd && !serviceUserUnderEdit">
        <div class="d-flex">
          <h2>
            Patient list
          </h2>
          <button class="ml mt" @click="fetchServiceUsers">🌀Refresh</button>
          <button class="ml mt" @click="toggleServiceUserAdd">➕ Add new patient</button>
        </div>
        <div v-if="isServiceUsersLoading">Loading patient list ⏳</div>
        <div v-else>
          <table>
            <tr>
              <th>Name</th>
              <th>Doctor in charge</th>
              <th>Symptoms</th>
              <th>Admitted date</th>
              <th>Action</th>
            </tr>
            <tr v-for="su of serviceUsers">
              <td>{{ su.fullName }}</td>
              <td>{{ su.assignedDoctor.fullName }} <small>[{{ su.assignedDoctor.department }}]</small></td>
              <td>
                <span v-for="s of su.symptoms">
                  <span class="color-list">{{ s }}</span>
                </span>
              </td>
              <td><small>{{ su.admittedDateLocale }}</small></td>
              <td>
                <button @click="editServiceUser(su)">✏️Edit</button>
                <button @click="deleteServiceUser(su.id)">⛔️Delete</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div v-if="showServiceUserAdd">
        <div>
          <div>
            <button @click="toggleServiceUserAdd">⬅️ Go back</button>
          </div>
          <h2>
            Add patient
          </h2>
        </div>
        <form @submit="addNewServiceUser">
          <div>
            <label for="pfullname">Name:</label>
            <input id="pfullname" type="text" v-model="newPatient.fullName" required placeholder="Ahsoka Tano"/>
          </div>
          <div>
            <label for="psymptoms">
              Symptoms:
            </label>
            <textarea id="psymptoms" v-model="newPatient.symptoms" required placeholder="cough, sneezing"></textarea>
          </div>
          <div>
            <label for="pdoctor">
              Assign doctor:
            </label>
            <select v-model="newPatient.assignedDoctor" id="pdoctor" required>
              <option disabled value="null">Please choose</option>
              <option v-for="d in doctors" :value="d.id">{{ d.fullName }} - {{ d.department }}</option>
            </select>
          </div>

          <div class="mt text-center">
            <button type="submit">✅ Create patient entry</button>
          </div>
        </form>
      </div>

      <div v-if="serviceUserUnderEdit">
        <div>
          <div>
            <button @click="clearServiceUserEdit">⬅️ Go back</button>
          </div>
          <h2>
            Edit patient
          </h2>
        </div>
        <form @submit="updateServiceUser">
          <div>
            <label for="pfullname">Name:</label>
            <input id="pfullname" type="text" v-model="newPatient.fullName" required placeholder="Ahsoka Tano"/>
          </div>
          <div>
            <label for="psymptoms">
              Symptoms:
            </label>
            <textarea id="psymptoms" v-model="newPatient.symptoms" required placeholder="cough, sneezing"></textarea>
          </div>
          <div>
            <label for="pdoctor">
              Assign doctor:
            </label>
            <select v-model="newPatient.assignedDoctor" id="pdoctor" required>
              <option disabled value="null">Please choose</option>
              <option v-for="d in doctors" :value="d.id">{{ d.fullName }} - {{ d.department }}</option>
            </select>
          </div>

          <div class="mt text-center">
            <button type="submit">✅ Update patient entry</button>
          </div>
        </form>
      </div>

      <div>
        <h2>Doctors list</h2>
        <div v-if="isDoctorsLoading">Loading doctors list ⏳</div>
        <div v-else>
          <table>
            <tr>
              <th>Name</th>
              <th>Department</th>
            </tr>
            <tr v-for="d of doctors">
              <td>{{ d.fullName }}</td>
              <td>{{ d.department }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <script src="app.js"></script>
</body>
</html>